.image {
  width: 400px;
  height: 200px;
}
.container-card {
  background-color: #ffffff;
  background-size: cover;
  width: 400px;
  height: 400px;
  margin: 30px 20px;
}
.card-heading {
  font-family: 'Roboto';
  font-weight: 600;
  color: #475569;
  font-size: 23px;
  margin: 15px 20px;
}
.card-description {
  font-family: 'Roboto';
  font-weight: 500;
  color: #64748b;
  margin: 15px 20px;
}
